---
import DropstarsText from './DropstarsText.astro';

interface Props {
  callToAction: string;
}

const { callToAction } = Astro.props;
const imageURL = "field.jpg";
const bgStyle = { backgroundImage: `url('/images/${imageURL}')` };
const content = [
  {
    heading: "Mailing Address",
    info: "123 Anywhere St, Any City, ST 34565",
  },
  {
    heading: "Email Address",
    info: "hello@reallygreatsite.com",
  },
  {
    heading: "Phone Number",
    info: "(123) 456-7890",
  },
];
---

<footer
  class="bg-cover bg-no-repeat bg-gray-700 bg-blend-multiply snap-end bg-bottom md:bg-[center_bottom_-10rem]"
  style={bgStyle}
>
  <div class="mx-auto container">
    <h1
      class="text-5xl blueText uppercase italic px-4 py-28 md:p-36 max-w-xl"
    >
      <DropstarsText text={callToAction} ></DropstarsText>
    </h1>
    <div class="bg-white border-2 border-dropstars-red grid grid-cols-1 md:grid-cols-3">
      {
        content.map((item) => (
          <div class="p-12">
            <h1 class="uppercase text-2xl italic text-dropstars-blue">{item.heading}</h1>
            <p class="text-dropstars-blue">{item.info}</p>
          </div>
        ))
      }
    </div>
  </div>
</footer>
