---
import DropstarsText from "./DropstarsText.astro";
import ImageCard from "./ImageCard.astro";
interface Props {
  offers: {
    offerText: string;
    imageURL: string;
    bgPositionTop: boolean;
    link: string;
  }[];
  title: string;
  text: string;
}
const { offers, title, text } = Astro.props;
---


<section class="py-12 text-center snap-center ">
    <div class="container mx-auto">
        <h1 class="text-white text-5xl italic uppercase mb-8"><DropstarsText text={title} ></DropstarsText></h1>
        <p class="text-white">{text}</p>
        <div class="grid grid-cols-1 md:grid-cols-3">
        {
            offers.map((offer)=>(
                <ImageCard imageURL={offer.imageURL} text={offer.offerText} backgroundPositionTop={offer.bgPositionTop} link={offer.link}/>
            ))
        }
        </div>
    </div>
</section>